/******************************************************
	
	CONFIG & SETTINGS

	Set consistent global paramenters

******************************************************/


/*
	
	Colour's

	Requires: Sass 3.3+, 'palette' mixin function (incl. in _mixins.scss)
	Set colour palette using Sass Maps - http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
	Single variables can be used where appropriate e.g '$white: rgb(255,255,255);'

	--EXAMPLE--
	
	$_color-base-grey: rgb(229,231,234);

	$palettes: (
	    purple: (
	        base:   rgb(42,40,80),
	        light:  rgb(51,46,140),
	        dark:   rgb(40,38,65)
	    ),
	    grey: (
	        base:  $_color-base-grey,
	        light: lighten($_color-base-grey, 10%),
	        dark: darken($_color-base-grey, 10%)
	    )
	);

	Add tones using the following naming convention:

		x-dark
		dark 
		mid-dark
		base 
		mid-light
		light 
		x-light

	Usage:

		a {
		    color: palette(purple);
		    &:hover {
		        color: palette(purple, light);
		    }
		}

*/

